<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaShelfMobile">

        <!-- 1. MainActivity: Set as the app's starting point/launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Dashboard Activity: Must be declared so login_signup can navigate to it -->
        <activity
            android:name=".Dashboard"
            android:exported="false" />

        <!-- 3. Add/Edit Activity: Must be declared so Dashboard can navigate to it -->
        <activity
            android:name=".add_edit"
            android:exported="false" />

    </application>

</manifest>